#root{
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    font-family: "Inter", sans-serif
}

.other-info{
    padding: 15px 40px 30px;
}
.other-info > h2{
    margin-top: 5px;
    margin-bottom: 10px;
}
.other-info > p{
    margin-top: 5px;
}

.about{
    padding: 10px 40px 10px;
}

footer{
    text-align: center;
    background-color: #161619;
    border-radius: 0 0 10px 10px;
    max-height: 100px;
}

.footer-icon{
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.footer-icon-color{
    color: #918E9B;
}